<p>register-fiche-medical works!</p>
<p>register-payment works!</p>
<p>register-payments works!</p>
<div class="container my-5">
  <h2 class="mb-4">Coordonnées de paiement</h2>

  <form [formGroup]="updatePaymentForm" (ngSubmit)="submitForm()">
    <!-- Payment ID Field -->



    <!-- Amount Field -->
    <div class="form-group mb-3">
      <label for="description">description</label>
      <input
        type="text"
        formControlName="description"
        id="description"
        class="form-control"
      />
      <div class="text-danger" >
         description est requis.
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="patient_id">ID du patient</label>
      <input
        type="number"
        formControlName="patient_id"
        id="patient_id"
        class="form-control"
      />
      <div class="text-danger" >
        L'ID du patient est requis.
      </div>
    </div>
    <!-- Patient ID Field -->


    <!-- Submit Button -->
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="updatePaymentForm.invalid"

    >
      Soumettre
    </button>
  </form>
</div>

