<p>update-appoint works!</p>
<p>register-appoint works!</p>
<p>register-fiche-medical works!</p>
<p>register-payment works!</p>
<p>register-payments works!</p>
<div class="container my-5">
  <h2 class="mb-4">Coordonnées de paiement</h2>

  <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
    <!-- Payment ID Field -->
    <div class="form-group mb-3">
      <label for="date">Date de paiement</label>
      <input
        type="date"
        formControlName="date"
        id="date"
        class="form-control"
      />
      <div class="text-danger" >
        La time  est requise.
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="date">time</label>
      <input
        type="time"
        formControlName="time"
        id="time"
        class="form-control"
      />
      <div class="text-danger" >
        time de paiement est requise.
      </div>
    </div>

    <!-- Amount Field -->
    <div class="form-group mb-3">
      <label for="description">location</label>
      <input
        type="text"
        formControlName="location"
        id="location"
        class="form-control"
      />
      <div class="text-danger" >
         location est requis.
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="patient_id">ID du patient</label>
      <input
        type="number"
        formControlName="patient_id"
        id="patient_id"
        class="form-control"
      />
      <div class="text-danger" >
        L'ID du patient est requis.
      </div>
    </div>
    <!-- Patient ID Field -->


    <!-- Submit Button -->
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="registerForm.invalid"

    >
      Soumettre
    </button>
  </form>
</div>

