
<h2>Liste des Patients</h2>
<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Adresse</th>
      <th>Téléphone</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor = "let salle of salle">
      <td>{{ salle.name }}</td>
      <td>{{ salle.nombre_machines}}</td>
      <td>{{ salle.nombre_lits }}</td>
      <td>
        <button (click) = "updateResource(salle.id)" > Update</button>
        <button (click)="deleteRessource(salle.id)"   > Delete</button>

    </td>
    </tr>
  </tbody>

</table>
<button (click)="registerResource()"   > submit</button>
