<p>fiche-medical works!</p>

<h2>Liste des rendez vous </h2>
<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Adresse</th>
      <th>Téléphone</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor = "let fiche_medical of fiche_medical">
      <td>{{ fiche_medical.patient.name}}</td>
      <td>{{ fiche_medical.description }}</td>
      <td>
        <button (click) = "update_fichemedical(fiche_medical.id)" > Update</button>
        <button (click)="delete_fichemedical(fiche_medical.id)"   > Delete</button>

    </td>
    </tr>
  </tbody>
</table>
<button (click)="register_fichemedical()"   > submit</button>

