<div class="home-container">
    <h1>Welcome to the Management System</h1>
    <div class="navigation-links">
      <button routerLink="/patient-management">Patient Management</button>
      <button routerLink="/payment-management">Payment Management</button>
      <button routerLink="/resource-management">Resource Management</button>
      <button routerLink="/appointment-management">Appointment Management</button>
      <li><button (click)="goToLogin()" class="btn btn-primary">Login</button></li>
    </div>
  </div>