
<h2>Liste des rendez vous </h2>
<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Adresse</th>
      <th>Téléphone</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor = "let rendez_vous of rendez_vous">
      <td>{{ rendez_vous.date }}</td>
      <td>{{ rendez_vous.patient.name}}</td>
      <td>{{ rendez_vous.time }}</td>
      <td>{{ rendez_vous.location }}</td>
      <td>
        <button (click) = "update_apponit(rendez_vous.id)" > Update</button>
        <button (click)="delete_apponit(rendez_vous.id)"   > Delete</button>

    </td>
    </tr>
  </tbody>
</table>
<button (click)="register_apponit()"   > submit</button>
